# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.htaccess
.editorconfig

# https://github.com/yichinweng/side-project-notebook
portfolio/notebook/

node_modules/
build/
.DS_Store
