div#ad-cycle
{
	position: relative;
	top: 0;
	left: 0;
	width: 800px;
	height: 500px;
	overflow: hidden;
	border: 0;
	z-index: 1;
}

a.cycle-page
{
    display: block;
    position: relative;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background: #e1e1e1 url(./bg_sand.png) repeat 0 0;
}

div#ad-navi
{
	position: absolute;
	top: 0;
	right: 0;
	width: 224px;
	height: 500px;
	border: 0;
	overflow: hidden;
	z-index: 0;
}

div.navi-item
{
	position: relative;
	top: 14px;
	left: 32px;
	width: 177px;
	height: 88px;
	overflow: hidden;
	margin-bottom: 6px;
	border: 1px solid #ddd;
	cursor: pointer;
}

div.navi-item.activeSlide
{
    border: 1px solid #999;
}

div.item-title
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 22px;
	overflow: hidden;
	line-height: 22px;
    text-indent: 5px;
    color: #DF3A01;
	background: #fff;
}

div.item-msg
{
	position: relative;
	top: 0;
	left: 0;
	width: 160px;
	height: 66px;
	font-size: 0.9em;
	line-height: 1.4em;
	color: #666;
	padding: 0 0 5px 10px;
	overflow: hidden;
	background: #fff;
}

div#ad-indicator
{
	position: absolute;
	top: 2px;
	right: 783px;
	width: 64px;
	height: 500px;
	border: 0;
	overflow: hidden;
	background: transparent;
	z-index: 2;
}

div#ad-indicator > div
{
	position: relative;
	top: 28px;	/*28 (+96) 124 220 316 412*/
	left: 0;
	width: 64px;
	height: 64px;
	background: transparent url(./ic_pager_indicator.png) no-repeat 0 0;
	border: 0;
}
